main {
    margin: auto;
}

.task:not(:last-of-type){
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
}

.task input[type="checkbox"]:checked + input[type="text"] {
    text-decoration: line-through;
    font-style: italic;
    color: #aaa;
}

.task input[type="text"]{
    flex-basis:100%;
    padding: 0 0.25rem;
    border: 1px solid white;
}

.task button{
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1.25rem;
    font-family: 'Raleway', sans-ser;
    cursor: pointer;
}